<script type="text/javascript">
    $(function () {
        $('.ui.accordion').accordion();
        $('.ui.dropdown').dropdown();
    })
</script>
<div class="ui top attached tertiary segment" style="margin-top:0">

    <div class="ui icon circle top left pointing dropdown">
        <i class="icon bars"></i> <strong>{{ party.name }}</strong>

        <div class="menu">
            <a href="main/party_edit/{{ party.id }}" class="item modal">
                <i class="icon pencil"></i> Edit
            </a>
            <a href="main/party_delete/{{ party.id }}" class="item modal">
                <i class="icon remove"></i> Delete
            </a>
        </div>
    </div>

    <div class="ui divided horizontal list" style="float:right;">
        <div class="item">{{ party.createdAt|date("d/m/Y") }}</strong></div>
        <div class="item">{{ party.balance|number_format(2, '.', ',') }}&euro;</strong></div>
    </div>

</div>

<div class="ui attached segment">
    <table class="ui small very compact definition celled table">
        <thead>
        <tr>
            <th class="center aligned"></th>
            {% for person in party.persons %}
                <th class="center aligned">{{ person.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for person1 in party.persons %}
            <tr>
                <td class="center aligned">{{ person1.name }}</td>

                {% for person2 in party.persons %}
                    {% if person1.id==person2.id %}
                        <td class="center aligned disabled"><i class="icon remove"></i></td>
                    {% else %}
                        <td class="center aligned">00.00</td>
                    {% endif %}
                {% endfor %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<div class="ui attached segment">
    <div class="ui ribbon label">Transactions</div>
    <a href="transaction/new/{{ party.id }}" class="ui mini green icon button amodal" style="float:right">
        <i class="icon plus"></i> NEW
    </a>
    <div class="ui divided animated selection list">
        {% if party.transactions is empty %}
            <div class="ui message center aligned">No transactions yet</div>
        {% endif %}
        {% for transaction in party.transactions %}
            <a href="transaction/{{ transaction.id }}" class="item amodal">
                <div class="right floated compact ui big label">{{ transaction.amount|localizedcurrency('EUR') }}</div>
                <div class="content">
                    <div class="header">
                        {{ transaction.comment|default("<i>No Comments</i>")|raw }}
                    </div>
                    <div class="description">
                        <div class="ui divided horizontal list">
                            <div class="item">
                                {{ transaction.issuedAt|date('d/m/Y') }}
                            </div>
                            <div class="item">
                                <abbr title="Payer">P</abbr>: {{ transaction.payer.name }}
                            </div>
                            <div class="item">
                                <abbr title="Shares">S</abbr>:
                                {% for share in transaction.shares %}
                                    {{ share.person.name }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</div>